body{
    padding: 0;
    margin: 0;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 200px;
    background-color:  brown;
    width: 100%;
    box-sizing: border-box;
}

header nav{
    float: right;
}
header nav.active{
    left: 0;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
   height: 50px;
   line-height: 50px;
   padding: 0 20px;
   color: #ffffff;
   text-decoration: none;
}
header nav ul li a:hover{
    color: gold;
}
.menu{
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.menubutton1 , .menubutton2 , .menubutton3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    }
    
.change .menubutton1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  
}
.change .menubutton2{
   opacity: 0;
}
.change .menubutton3{
    -webkit-transform: rotate(45deg) translate(-8px,-8px);
    transform: rotate(45deg) translate(-8px,-8px);
   

}
.section {
    text-align: center;
    padding: 18%;
    background-image: radial-gradient(brown, gold);
    color: white;
}
a {
    text-decoration: overline;
    text-decoration-color: gold;
    color: white;
    font-weight: bolder;
   
}
.shownav{
    display: block;
   background: brown;
   transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px){
    header{
        padding: 15px 20px;
    }
    .menu {
        color: #ffffff;
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        
    }
    .menu{
        display: block;
    }
    header nav{
       display: none ;
        position: absolute;
        width: 100%;
        height: calc(50vh - 30px);
        background: brown;
       
        top: 50px;
        left: -100%;
        padding-top: 20px;
        transition: all 0.3s ease-in-out;
    }
    header nav ul{
        display: block;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    header nav ul li{
        border-bottom: 3px solid #460000;
        background-color: brown;
        transition: all 0.3s ease-in-out;
    }
    header nav ul li a{
        font-size: 15px;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
     } 
}



